{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  {% include 'navbar.html' %}

  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-primary">
        <li class="breadcrumb-item text-light font-weight-bold active" aria-current="page">
          PMod Buyback BOM Search
        </li>
      </ol>
    </nav>
  </div>

  <div class="container mb-3">
    <form method="POST" action="">
      {% csrf_token %}
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInput">PMod name</label>
          {{ form.name|as_crispy_field }}
        </div>
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInput">Part number</label>
          {{ form.part_number|as_crispy_field }}
        </div>
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup"></label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              {{ form.year_quotated|as_crispy_field }}
            </div>
          </div>
        </div>
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup"></label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
            </div>
            {{ form.month_quotated|as_crispy_field }}
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check mb-2">
            {{ form.BOM_registered|as_crispy_field }}
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check mb-2">
            {{ form.export_to_csv|as_crispy_field }}
          </div>
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </div>
    </form>
  </div>
</div>

<div class="container">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">PMod name</th>
                <th scope="col">Part number</th>
                <th scope="col">Date created</th>
                <th scope="col">Year quotated</th>
                <th scope="col">Month quotated</th>
                <th scope="col">Unit price(USD$)</th>
                <th scope="col">BOM registered</th>
            </tr>
        </thead>
        <tbody>
            {% for pmod in pmods %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ pmod.name }}</td>
              <td>{{ pmod.part_number }}</td>
              <td>{{ pmod.date_created|date:"Y-m-d" }}</td>
              <td>{{ pmod.year_quotated }}</td>
              <td>{{ pmod.month_quotated }}</td>
              <td>{{ pmod.unit_price }}</td>
              <td>{{ pmod.BOM_registered }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}