<div class="container" id="articles-post">
    <div class="posts-container mx-auto px-3 my-5">
        <div class="posts">
            <div class="post">
                <h1 class="post-title fw-500">
                    Hello, world!
                </h1>
                <p>
                    Est nisi cupidatat magna sunt aliqua. Magna velit cupidatat minim cupidatat proident eiusmod deserunt. Ad pariatur veniam velit occaecat eiusmod. Anim adipisicing anim quis nisi esse veniam sit officia cupidatat qui occaecat. Minim elit cupidatat duis culpa consequat commodo deserunt pariatur. Irure aliqua laborum non aliqua amet enim.
                </p>
                <hr class="my-4">
                <p>
                    <strong>Jump to a section:</strong>
                </p>
                <ul>
                    <li><a href="#css-grid">CSS Grid</a></li>
                    <li><a href="#offcanvas-in-navbars">Offcanvas in navbars</a></li>
                    <li><a href="#placeholders">Placeholders</a></li>
                    <li><a href="#horizontal-collapse">Horizontal collapse</a></li>
                    <li><a href="#stack-and-vertical-rule-helper">Stack and vertical rule helpers</a></li>
                    <li><a href="#new-css-variables">New CSS variables</a></li>
                    <li><a href="#updated">Updated <code class="language-plaintext highlighter-rouge">.bg-*</code> and <code class="language-plaintext highlighter-rouge">.text-*</code> utilities</a></li>
                    <li><a href="#four-new-examples">Four new examples</a></li>
                    <li><a href="#modal-and-offcanvas-backdrops">Modal and offcanvas backdrops</a></li>
                </ul>
                <hr class="my-4">
                <h2 id="css-grid">CSS Grid</h2>
                <p>
                    Qui sunt ea ea cillum ex magna eiusmod. Sit est nulla cupidatat adipisicing. Ad cillum deserunt cillum reprehenderit enim sit ipsum ut excepteur. Cupidatat esse et fugiat mollit est qui mollit tempor nisi velit Lorem est ut. Mollit irure ex mollit occaecat laborum et officia laboris anim.
                </p>
                <p>
                    Esse culpa exercitation velit sunt. Cillum eiusmod tempor ullamco id cillum ex aliquip incididunt quis. Amet veniam quis laborum adipisicing. Minim Lorem cupidatat exercitation exercitation deserunt. Et aliqua cillum duis velit sit adipisicing anim.
                <p>
                    Enim labore do velit est ut ut consectetur tempor aliqua. Enim deserunt elit dolor duis ut minim ad ex. In tempor dolore aliqua cupidatat proident nulla tempor ad anim.
                </p>
                <h2 id="offcanvas-in-navbars">Offcanvas in navbars</h2>
                <p>
                    Qui sunt ea ea cillum ex magna eiusmod. Sit est nulla cupidatat adipisicing. Ad cillum deserunt cillum reprehenderit enim sit ipsum ut excepteur. Cupidatat esse et fugiat mollit est qui mollit tempor nisi velit Lorem est ut. Mollit irure ex mollit occaecat laborum et officia laboris anim.
                </p>
                <p>
                    Est velit non eu cillum consequat pariatur dolore commodo. Dolor mollit eiusmod qui exercitation consectetur reprehenderit in voluptate. Incididunt labore labore reprehenderit sint. Sit enim quis voluptate pariatur esse. Sint proident et veniam aliqua.
                </p>
                <p>
                    Commodo officia ea nisi nisi sit. Pariatur eu Lorem nulla velit cillum. Fugiat enim cupidatat consectetur magna incididunt velit enim dolor. Sint fugiat reprehenderit quis ea occaecat est deserunt. Ipsum reprehenderit mollit minim et. Mollit nulla eu culpa exercitation veniam proident id consectetur proident non ut amet veniam.
                </p>
                <h2 id="placeholders">Placeholders</h2>
                <p>
                    Qui sunt ea ea cillum ex magna eiusmod. Sit est nulla cupidatat adipisicing. Ad cillum deserunt cillum reprehenderit enim sit ipsum ut excepteur. Cupidatat esse et fugiat mollit est qui mollit tempor nisi velit Lorem est ut. Mollit irure ex mollit occaecat laborum et officia laboris anim.
                </p>
                <p> 
                    Qui Lorem nulla voluptate ut cillum. Qui in nostrud consequat minim dolor. Veniam nisi velit quis qui non sunt labore in eiusmod aute magna dolor dolore magna. Dolor sint duis anim sint enim culpa. Aliquip culpa aliquip et laborum commodo nostrud anim ullamco duis. Ipsum nostrud fugiat laborum proident minim nisi.
                </p>
                <p> 
                    Aliqua reprehenderit veniam laboris nostrud occaecat excepteur consequat id ipsum laborum et nostrud aliquip tempor. Ex minim commodo velit dolore officia ullamco ipsum irure deserunt elit eiusmod irure. Ea cupidatat aliquip voluptate adipisicing laborum quis. Fugiat nisi deserunt reprehenderit eiusmod ex nulla. Ullamco ullamco irure est cupidatat id.
                </p>
                <h2 id="horizontal-collapse">Horizontal collapse</h2>
                <p>
                    Qui sunt ea ea cillum ex magna eiusmod. Sit est nulla cupidatat adipisicing. Ad cillum deserunt cillum reprehenderit enim sit ipsum ut excepteur. Cupidatat esse et fugiat mollit est qui mollit tempor nisi velit Lorem est ut. Mollit irure ex mollit occaecat laborum et officia laboris anim.
                </p>
                <p> 
                    Irure sit dolore commodo non non velit fugiat laboris officia cupidatat. Nisi sunt duis incididunt reprehenderit minim quis. Dolore ut nostrud mollit deserunt nisi irure eu do eu id non laborum.
                </p>
                <p> 
                    Ut laborum voluptate sint minim. Aute deserunt cupidatat do excepteur culpa adipisicing id aliqua veniam tempor sunt nostrud commodo. Laborum irure est ullamco aliqua mollit cillum commodo sit sint qui. Culpa culpa incididunt Lorem velit velit reprehenderit ex ipsum do. Reprehenderit eu eu sint consectetur sit duis labore est veniam in laborum qui incididunt sit.
                </p>
                <h2 id="stack-and-vertical-rule-helper">Stack and vertical rule helper</h2>
                <p>
                    Qui sunt ea ea cillum ex magna eiusmod. Sit est nulla cupidatat adipisicing. Ad cillum deserunt cillum reprehenderit enim sit ipsum ut excepteur. Cupidatat esse et fugiat mollit est qui mollit tempor nisi velit Lorem est ut. Mollit irure ex mollit occaecat laborum et officia laboris anim.
                </p>
                <h2 id="new-css-variables">New CSS variables</h2>
                <p>
                    Qui sunt ea ea cillum ex magna eiusmod. Sit est nulla cupidatat adipisicing. Ad cillum deserunt cillum reprehenderit enim sit ipsum ut excepteur. Cupidatat esse et fugiat mollit est qui mollit tempor nisi velit Lorem est ut. Mollit irure ex mollit occaecat laborum et officia laboris anim.
                </p>
                <h2 id="updated">Updated</h2>
                <p>
                    Qui sunt ea ea cillum ex magna eiusmod. Sit est nulla cupidatat adipisicing. Ad cillum deserunt cillum reprehenderit enim sit ipsum ut excepteur. Cupidatat esse et fugiat mollit est qui mollit tempor nisi velit Lorem est ut. Mollit irure ex mollit occaecat laborum et officia laboris anim.
                </p>
                <h2 id="four-new-examples">Four new examples</h2>
                <p>
                    Qui sunt ea ea cillum ex magna eiusmod. Sit est nulla cupidatat adipisicing. Ad cillum deserunt cillum reprehenderit enim sit ipsum ut excepteur. Cupidatat esse et fugiat mollit est qui mollit tempor nisi velit Lorem est ut. Mollit irure ex mollit occaecat laborum et officia laboris anim.
                </p>
                <h2 id="modal-and-offcanvas-backdrops">Modal and offcanvas backdrops</h2>
                <p>
                    Qui sunt ea ea cillum ex magna eiusmod. Sit est nulla cupidatat adipisicing. Ad cillum deserunt cillum reprehenderit enim sit ipsum ut excepteur. Cupidatat esse et fugiat mollit est qui mollit tempor nisi velit Lorem est ut. Mollit irure ex mollit occaecat laborum et officia laboris anim.
                </p>
            </div>
        </div>
    </div>
</div>